/* Estilos gerais */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2; /* Um fundo claro, neutro */
    color: #333; /* Cor de texto padrão */
    margin: 0;
    padding: 0;
}

/* Cabeçalho */
header {
    background-color: #FFCB05; /* Amarelo Pokémon */
    padding: 10px 0;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil para dar profundidade */
}

.logo h1 {
    color: #3D7DCA; /* Azul Pokémon */
    text-align: center;
    margin: 0;
}

/* Navegação */
.links-navegation {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding: 0;
}

.links-navegation li {
    margin-right: 46px;
    position: relative;
}

.links-navegation li:last-child {
    margin-right: 0; /* Remove a margem do último item */
}

.links-navegation li a {
    text-decoration: none;
    color: #D2232A; /* Vermelho Pokémon */
    transition: color 0.3s;
}

.links-navegation li a:hover {
    color: #3D7DCA; /* Mudar para azul quando o mouse passar por cima */
}

.links-navegation li:nth-child(4),
.links-navegation li:nth-child(5) {
    margin-right: 23px;
}

/* Estilo para o separador */
.links-navegation li:nth-child(5):before {
    content: "|";
    position: absolute;
    left: -12px;
    top: 50%;
    transform: translateY(-50%);
    color: #D2232A; /* Vermelho Pokémon */
}

/* Botão de Login */
button {
    background-color: #D2232A; /* Vermelho Pokémon */
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #3D7DCA; /* Azul Pokémon ao passar o mouse */
}
