* {
	font-family: 'Inter', sans-serif;
	margin: 0;	
	width: auto;
}




/* Barra de pesquisa  */
.pesquisa {
 display: flex;
 align-items: center;
 flex-flow: column;
 padding-top: 62px;
}

.pesquisa__title {	
	margin-bottom: 53px;
}

.pesquisa__bar {
	width: 780px;
	height: 48px;
	border-radius: 50px;
	background: url("resources/icon-search.svg");
	background-repeat: no-repeat;
	background-position: 740px ;
	margin-bottom: 122px;
}


/*Forum*/
.forum {
	display: flex;
	flex-direction: column;	
	align-items: center;
	justify-content: center;
}

.forum__section {	
	width: 1157px;
	display: flex;
	flex-direction: column;
	align-items: center;
}


.forum__header {
	width: 100%;
	height: 56px;
	display: flex;
	align-items: center;
	background-color: #486284;
	border-radius: 15px 15px 0 0;
}

.forum__header__title {
	padding-left: 50px;
}

.forum__header h5 {
	color: white;
}

.forum__item {
	width: 100%;
	height: 111px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.forum__item__content {
	padding-left: 50px;
	display: flex;
	align-items: center;
}

.forum__item__content img {
	margin-right: 20px;
}

.forum__item:nth-child(even) {
	background-color: white;
}

.forum__item:nth-child(odd) {
	background-color: #F2F2F2;
}

.pesquisa, .forum {
	background-color: #EEF1F4;
}
