@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;600;700&family=Roboto+Condensed:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
    text-decoration: none;
}

button {
    width: 90px;
    height: 34px;
    border-radius: 6px;
    background-color: #ffcd05;
    align-items: center;
    border: none;
}

li button a {
    font-size: 14px;
    font-weight: 700;
}

h2 {
    font-size: 80px;
    color: #5573dc;
}

/*-- Header --*/

header {
    background-color: rgba(112, 112, 112, 0.274);
    display: flex;
}

header .header__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    max-width: 1280px;
    width: 100%;
    margin: auto;
    color: white;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    display: flex;
    padding: 0 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
}

nav a {
    font-family: 'Plus Jakarta Sans', sans-serif;
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 14px;
}

/* -- Banner -- */
.banner {
    width: 100%;
    min-height: 100%;
    background-color: rgb(97, 241, 241);
    background-image: url(../img/background_01.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.content__banner {
    width: 100%;
    min-height: 100vh;
    display: flex;
}

.text__banner {
    display: flex;
    width: 40%;
    flex-direction: column;
}

.image__banner {
    display: flex;
    width: 60%;
    flex-direction: column;
    justify-content: end;
}

.pokedex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    min-height: 100vh;
    background-image: url(../img/background_02.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.pokedex > h2,
p {
    color: white;
    font-weight: 700;
}

.pokedex > a {
    background-color: white;
    color: #5573dc;
    font-size: 32px;
    font-weight: 700;
    padding: 10px 50px;
    border-radius: 30px;
}

.galeria {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-image: url(../img/background_03.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.text__galeria {
    display: flex;
    width: 40%;
    flex-direction: column;
}

.text__galeria > a {
    color: #5573dc;
    font-size: 32px;
    font-weight: 700;
    padding: 10px 2px;
    border: solid 3px #5573dc;
    border-radius: 30px;
}

.artigos {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-image: url(../img/background_04.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.text__artigos {
    display: flex;
    width: 40%;
    flex-direction: column;
    color: white;
}
.text__artigos h2,
p {
    color: white;
    font-weight: 700;
}

.text__artigos > a {
    color: #ffffff;
    font-size: 32px;
    font-weight: 700;
    padding: 10px 2px;
    border: solid 3px #ffffff;
    border-radius: 30px;
}

/* Footer */
footer {
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    height: 400px;
    font-size: 17px;
    color: white;
}

.footer__container {
    max-width: 1280px;
    height: 280px;
    padding: 50px 56px 50px 56px;
    display: flex;
    justify-content: space-around;
}

.infos {
    width: 375px;
    height: 171px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.infos__text {
    font-size: 17px;
}
.infos_icons {
}

.navigation {
    width: 274px;
    height: 176px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navigation ul {
    display: flex;
    height: 130px;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    list-style: none;
}

.navigation ul li::marker {
    content: url('../img/icon_marker.svg');
}

.navigation a {
    text-decoration: none;
    color: white;
}

.contacts {
    width: 274px;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contacts__rua__email {
    display: flex;
}

.contacts__rua__email p {
    margin-left: 10px;
}

.contacts__email__input {
    background-color: #eef1f4;
    padding: 20px 36px 20px 13px;
    border: none;
}

.contacts__email__button {
    width: 173px;
    height: 40px;
    border-radius: 6px;
    background-color: #ffcb05;
    align-items: center;
    font-weight: 700;
    color: white;
}

.infos__title,
.navigation__title,
.contacts__title {
    font-size: 25px;
}
