@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;600;700&family=Roboto+Condensed:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
    text-decoration: none;
}


li button a {
    font-size: 14px;
    font-weight: 700;
}

h2 {
    font-size: 84px;
    color: #5573dc;
}



/* -- Banner -- */
.banner {
    width: 100%;
    min-height: 100%;
    background-color: rgb(97, 241, 241);
    background-image: url(../img/background_01.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.content__banner {
    width: 100%;
    min-height: 100vh;
    display: flex;
}

.text__banner {
    display: flex;
    width: 40%;
    flex-direction: column;
}

.image__banner {
    display: flex;
    width: 60%;
    flex-direction: column;
    justify-content: end;
}

.pokedex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    min-height: 100vh;
    background-image: url(../img/background_02.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.pokedex > h2,
p {
    color: white;
    font-weight: 700;
}

.pokedex > a {
    background-color: white;
    color: #5573dc;
    font-size: 32px;
    font-weight: 700;
    padding: 10px 50px;
    border-radius: 30px;
}

.galeria {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-image: url(../img/background_03.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.text__galeria {
    display: flex;
    width: 40%;
    flex-direction: column;
}

.text__galeria > a {
    color: #5573dc;
    font-size: 32px;
    font-weight: 700;
    padding: 10px 2px;
    border: solid 3px #5573dc;
    border-radius: 30px;
}

.artigos {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-image: url(../img/background_04.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.text__artigos {
    display: flex;
    width: 40%;
    flex-direction: column;
    color: white;
}
.text__artigos h2,
p {
    color: white;
    font-weight: 700;
}

.text__artigos > a {
    color: #ffffff;
    font-size: 32px;
    font-weight: 700;
    padding: 10px 2px;
    border: solid 3px #ffffff;
    border-radius: 30px;
}