* {
	font-family: 'Inter', sans-serif;
	margin: 0;	
	width: auto;
}



/* Barra de pesquisa  */
.pesquisa {
 display: flex;
 align-items: center;
 flex-flow: column;
 padding-top: 62px;
}

.pesquisa__title {	
	margin-bottom: 53px;
}

.pesquisa__bar {
	width: 780px;
	height: 48px;
	border-radius: 50px;
	background: url("../artigos/resources/icon-search.svg");
	background-repeat: no-repeat;
	background-position: 740px ;
	margin-bottom: 122px;
}



/* Posts  */
.img__gallery {
    align-items: center;
	display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 40vw);
    grid-gap: 15px;
}

.img {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
}

.post__img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}