* {
	font-family: 'Inter', sans-serif;
	margin: 0;	
	width: auto;
}

body{
	font-family: 'Plus Jakarta Sans', sans-serif;
	text-align: center;
	background: linear-gradient(to bottom, #6ab7f5, #fff);
	min-height: 100vh;
}

/* Barra de pesquisa  */
.barra__pesquisa {
 font-size: 50px;
 font-family: Tahoma;
 color: whitesmoke;
 display: flex;
 flex-direction: column;
 align-items: center;
 padding-top: 62px;
}

.pesquisa__bar{
	width: 50%;
	color: white;
}

.button{
	background-color: transparent;
	width: 60px;
	color: black;
	font-family: 'Plus Jakarta Sans', sans-serif;
	border-radius: 30px;

}

.pesquisa__title {	
	margin-bottom: 53px;
}

.pesquisa__bar {
	width: 780px;
	height: 48px;
	border-radius: 50px;
	background: url("../artigos/resources/icon-search.svg");
	background-repeat: no-repeat;
	background-position: 740px ;
	margin-bottom: 122px;
}



/* Posts  */
.img__gallery {
	margin-left: 10%;
	margin-right: 5%;
    align-items: center;
	display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(2, 40vw);
    grid-gap: 15px;
}

.img {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
}

.post__img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.caption{
	width: 250px;	
	font-family: 'Plus Jakarta Sans', sans-serif;
	font-size: 15px;
	text-align: center;
}